
<p>
  <b>Cart products count:</b>
  <%= @cart.cart_products.size %>
</p>

<p>
  <b>Amount:</b>
  <%= @cart.amount %>
</p>

<p>
  <b>Price old:</b>
  <%= number_to_currency @cart.total_price_old %>
</p>

<p>
  <b>Price now:</b>
  <%= number_to_currency @cart.total_price_now %>
</p>

<%= form_for(@cart) do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> erros:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table border="1">
  <% @cart.cart_products.each do |cp| %>
    <tr>
      <td>
        <%= link_to cp.product.name, cp.product %>
      </td>
      <td>
        <%= f.fields_for :cart_products, cp do |f2| %>
        
          <%= f2.number_field :amount %>
          
        <% end %>
      </td>
      <td>
        <%= f.submit "alterar quantidade" %>
      </td>
      <td>
        <%= link_to "remover", cart_delete_path(:cart_product_id=>cp.id), :method=>:post %>
      </td>
    </tr>
  <% end %>
  </table>
  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
