<%% if false %>
<pre>
  formatos:
  <%%= link_to <%= singular_table_name %>_path(@<%= singular_table_name %>, :format=>'html'), <%= singular_table_name %>_path(@<%= singular_table_name %>, :format=>'html') %>
  <%%= link_to <%= singular_table_name %>_path(@<%= singular_table_name %>, :format=>'xml'),  <%= singular_table_name %>_path(@<%= singular_table_name %>, :format=>'xml') %>
  <%%= link_to <%= singular_table_name %>_path(@<%= singular_table_name %>, :format=>'json'), <%= singular_table_name %>_path(@<%= singular_table_name %>, :format=>'json') %>
  <%%= link_to <%= singular_table_name %>_path(@<%= singular_table_name %>, :format=>'yaml'), <%= singular_table_name %>_path(@<%= singular_table_name %>, :format=>'yaml') %>
  <%%= link_to "#{<%= singular_table_name %>_path(@<%= singular_table_name %>, :format=>'atom')} (in file app/views/<%= singular_table_name %>/index.atom.builder)",  <%= plural_table_name %>_path(@<%= singular_table_name %>, :format=>'atom') %>
</pre>
<%% end %>

<% attributes.each do |attribute| -%>
<p>
  <b><%= attribute.human_name %>:</b>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>

<%%= link_to 'Editar', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
<%%= link_to 'Ver Todos', <%= index_helper %>_path %>
