<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>

<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> erros:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.cktext_area :text, :toolbar => 'Full', :width => 800, :height => 400 %>
  </div>
  <div class="field">
    <%= f.label :price_old %><br />
    <%= f.text_field :price_old %>
  </div>
  <div class="field">
    <%= f.label :price_now %><br />
    <%= f.text_field :price_now %>
  </div>
  <div class="field">
    <%= f.label :img, "Imagem" %><br />
    <%= f.file_field :img %>
  </div>
  <div class="field">
    <%= f.label :is_hidden, "Não Exibir?" %><br />
    <%= f.check_box :is_hidden %>
  </div>
  <% if false %>
  <div class="field">
    <%= f.label :is_special, "Especial?" %><br />
    <%= f.check_box :is_special %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
