<% if false %>
  formatos:
  <%= link_to product_path(@product, :format=>'html'), product_path(@product, :format=>'html') %>
  <%= link_to product_path(@product, :format=>'xml'),  product_path(@product, :format=>'xml') %>
  <%= link_to product_path(@product, :format=>'json'), product_path(@product, :format=>'json') %>
  <%= link_to product_path(@product, :format=>'yaml'), product_path(@product, :format=>'yaml') %>
  <%= link_to "#{product_path(@product, :format=>'atom')} (in file app/views/product/index.atom.builder)",  products_path(@product, :format=>'atom') %>
<% end %>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Text:</b>
  <%= @product.text %>
</p>

<p>
  <b>Price now:</b>
  <%= @product.price_now %>
</p>

<p>
  <b>Price old:</b>
  <%= @product.price_old %>
</p>

<p>
  <b>Product images count:</b>
  <%= image_tag @product.img %>
</p>

<p>
  <b>Is hidden:</b>
  <%= @product.is_hidden %>
</p>

<p>
  <b>Is special:</b>
  <%= @product.is_special %>
</p>


<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Ver Todos', products_path %>
