<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Viva Bem Vitaminas .com" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller.controller_name %>">
    <div id="header">
      <%= link_to root_path, :id=>'logo' do %>
        <%= image_tag 'vb/logo.png' %>
      <% end %>
      <span>
      </span>
    </div>
    <div id="container">

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :style=>'color:lime;background:black', :id => "flash_#{name}" %>
        <hr />
      <% end %>
      
      <div id="content">
        <%= yield %>
      </div>
      
    </div>
    <div id="footer">
      <%= debug APP_CONFIG %>
    </div>
  </body>
</html>
