<!DOCTYPE html>
<html>
<head>
  <title>Vb2</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= content_tag :h2, flash[:notice], :style=>'color:green;background:black' if flash[:notice] %>

<%= link_to 'root', :root %>
<%= link_to 'cart', :current_cart %>

<hr />

<%= yield %>

</body>
</html>
